<section class="content invoice">
  <div class="row">
    <div class="col-md-10">
      <%= simple_form_for([:admin, @user], :html => {:role => "form"}) do |f| %>
          <%= render partial: "layouts/error_message", locals: {object: @user} %>
          <%= f.input :username %>
          <%= f.input :email %>
          <%= f.input :password, autocomplete: "off" %>
          <%= f.input :password_confirmation, autocomplete: "off" %>
          <%= f.input :admin, label: "Is an admin?", autocomplete: "off" %>
          <%= f.submit :class => "btn btn-flat bg-olive" %>
      <% end %>
    </div>
  </div>
</section>